<div class="container-fluid terms">
    <div class="row main">
        <div class="col-md-12">
            <h1>Contact Us</h1>
            <p>Email: <a href="mailto:info@tourneysports.co?subjectSupport%20Request">info@tourneysports.co</a></p>
        </div>
    </div>
</div>
