<div class="container-fluid">
    <div class="row main">
        <div class="col-md-6 phones">
            <img src="/images/phones.png"/>
        </div>
        <div class="col-md-6 content">
            <div class="row logo">
                <div class="col-md-8 offset-md-2">
                    <img src="/images/logo.png"/>
                </div>
            </div>
            <div class="row description">
                <p class="col-md-6 offset-md-3">Tourney is an awesome new app that lets you run your local tournament or just play.</p>
                <p class="col-md-6 offset-md-3">As an tournament or league director, setup your events <a href="mailto:info@tourneysports.co?subject=New%20Tournament%20Request&body=Hey%20there!%20I%20would%20love%20to%20use%20Tourney%20Sports%20to%20setup%20my%20new%20tournament.%20Here%20are%20the%20details%3A%20%5BINSERT%20TOURNAMENT%20AND%20CONTACT%20DETAILS%5D">here</a>.</p>
                <p class="col-md-6 offset-md-3">As a player, compete and track your record.</p>
            </div>
            <div class="row justify-content-center app-links">
                <img src="/images/Apple Store.png"/>
                <img src="/images/Google Play.png"/>
            </div>
        </div>
    </div>
</div>
