<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="icon" type="image/png" href="/images/icon.png">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap.min.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap/bootstrap-grid.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <meta charset="utf-8"/>
    <meta name="description"
          content="Tourney is an awesome new app that lets you run your local tournament or just play."/>
    <meta name="keywords"
          content="tournament, sports, sports tournament, sports manangement, management, volleyball, basketball, soccer"/>
    <meta name="author" content="Tourney Sports"/>
    <meta name="copyright" content="Tourney Sports"/>
    <meta name="robots" content="follow"/>
</head>
<body>

{{#if hideNav}}
    <!-- Show nothing. -->
{{else}}
    <nav class="navbar navbar-default">
        <div class="navbar-header row">
            <a class="navbar-brand col-sm-3" href="/"><img src="/images/logo.png"/></a>
        </div>
    </nav>
{{/if}}

{{{body}}}

<footer class="row footer">
    <ul>
        <li><a href="/privacy">Privacy</a></li>
        <li><a href="/terms">Terms</a></li>
        <li><a href="/contact">Contact</a></li>
        <li>© 2018 Tourney Sports</li>
    </ul>
</footer>

</body>
</html>
