<div class="container-fluid terms">
    <div class="row main">
        <div class="col-md-12">
            <h1>PRIVACY POLICY</h1>

            <p>Tourney Sports (“our,” “we” or “us”) is committed to protecting your privacy.  This Privacy Policy
                describes how we collect, store, use and distribute information through our software, website,
                documentation, and related services (together, the “Services”).</p>

            <h2>Consent</h2>

            <p>By using the Services, you consent to the use of your Personal Information as described in this Privacy
                Policy.  Except as set forth in this Privacy Policy, your Personal Information will not be used for any
                other purpose without your consent.  We do not actively collect Personal Information for the purpose of
                sale of such information in a way that specifically identifies the individual (i.e. we don’t sell
                customer lists). You may withdraw your consent to our processing of your Personal Information at any
                time.  However, withdrawing consent may result in your inability to continue using some or all of the
                Services.</p>

            <h2>Collection of Information.</h2>

            <h3>Personal Information</h3>

            <p>When expressing an interest in obtaining additional information about the Services or registering to use
                the Services, we may require you to provide certain personally identifiable information, such as your
                name, company/organization name (if applicable), and email address (these are referred to below as your
                “Personal Contact Information”). When purchasing the Services, we will require you to provide financial
                and billing information, such as billing name and address, and credit card number (“Billing
                Information”). Your Personal Contact Information and your Billing Information are collectively referred
                to as your “Personal Information.”</p>

            <h3>Data, Diagnostic & Login Information.</h3>

            <p>You may be able to create, upload, publish, transmit, distribute, display, store or share information,
                data, text, graphics, video, messages or other materials using our Services (this is collectively
                referred to below as “Data”).  Some of this Data may be stored and maintained on our servers.  If you
                run into technical errors in the course of using the Services, we may request your permission to obtain
                a crash report along with certain logging information from your system documenting the error
                (“Diagnostic Information”).  Such information may contain information regarding your Operating System
                version, hardware, browser version (and .NET version information in case of Windows systems), and your
                email address, if provided.  Additionally, certain login information may be maintained in a cookie
                stored locally on your personal computing device (i.e. not on a server) in order to streamline the login
                process (“Login Information”).</p>

            <h3>Usage and Analytics Information</h3>

            <p>As you use our Services, we may also collect information through the use of commonly-used
                information-gathering tools, such as cookies, log files, and Web beacons. Such Information may include
                standard information regarding your mobile device, browser type, browser language, Operating System,
                Internet Protocol (“IP”) address, and the actions you take on our web site (such as the web pages viewed
                and the links clicked) or while using the Services. Certain features of the Services may also record
                biometric information about yourself for the purposes of providing feedback and self-care suggestions.
                Collectively, this information is referred to as “Usage and Analytics Information.”</p>

            <h3>Geo-Location Information</h3>

            <p>We do not collect any information regarding your real-time geo-location while using the Services.
                 However, we may do so at some point in the future.  We will request your permission before collecting
                such information.</p>

            <h2>Use of Information.</h2>

            <p>We use the information we collect in the following ways:</p>

            <table>
                <tr>
                    <th>Information Collected</th>
                    <th>Use</th>
                </tr>
                <tr>
                    <td>Personal Contact Information</td>
                    <td>We use this information to manage your account, to provide the Services, to maintain our
                        customer/visitor lists, to respond to your inquiries or provide feedback, for identification and
                        authentication purposes, for service improvement, and to address issues like malicious use of
                        the Services.  We may also use Personal Contact Information for limited marketing purposes,
                        namely, to contact you to further discuss your interest in the Services, and to send you
                        information about us or our partners.
                    </td>
                </tr>
                <tr>
                    <td>Billing Information</td>
                    <td>We use credit card information to manage your account, to provide the Services, and to check the
                        financial qualifications of prospective customers and to collect payment for the Services. We
                        may use a third-party service provider to manage credit card processing. If we do so, such a
                        service provider will not be permitted to store, retain, or use Billing Information except for
                        the sole purpose of credit card processing on our behalf.
                    </td>
                </tr>
                <tr>
                    <td>Data, Diagnostic Information and Login Information</td>
                    <td>We use this information solely for the purpose of administering and improving our Services to
                        you.
                    </td>
                </tr>
                <tr>
                    <td>Usage and Analytics Information</td>
                    <td>We use this information to provide you with the Services. We may also use your Usage and
                        Analytics Information in a de-identified, anonymous way in conjunction with an analytics service
                        such as Google Analytics to monitor and analyze use of the Services, for the Services’ technical
                        administration, to increase the Services’ functionality and user-friendliness, and to verify
                        users have the authorization needed for the Services to process their requests.  
                    </td>
                </tr>
            </table>
            <br>

            <p>If we plan to use your Personal Information in the future for any other purposes not identified above, we
                will only do so after informing you by updating this Privacy Policy.  See further the section of this
                Privacy Policy entitled “Amendment of this Privacy Policy”.</p>

            <h2>Disclosures & Transfers.</h2>

            <p>We have put in place contractual and other organizational safeguards with our agents (see further below)
                to ensure a proper level of protection of your Personal Information (see further “Security” below).  In
                addition to those measures, we will not disclose or transfer your Personal Information to third parties
                without your permission, except as specified in this Privacy Policy (see further “Important Exceptions”
                below).</p>

            <p>As of the date of this Privacy Policy, we share Personal Information about you with respect to the
                Services with our business partners. Our servers may also be located in third party datacenters in the
                United States and accordingly your Personal Information may be available to the United States government
                or its agencies under a lawful order, irrespective of the safeguards we have put in place for the
                protection of your Personal Information.</p>

            <p>Our business partners may include:</p>

            <ul>
                <li>Software developers</li>
                <li>Hardware vendors</li>
                <li>Advertising networks</li>
                <li>Analytics services</li>
                <li>Sports Networks</li>
                <li>Sports Companies</li>
            </ul>

            <p>From time to time we may employ third parties to help us improve the Website. These third parties may
                have limited access to databases of user information or registered member information solely for the
                purpose of helping us to improve the Website and they will be subject to contractual restrictions
                prohibiting them from using the information about our members for any other purpose. Such agents or
                third parties do not have any rights to use Personal Information beyond what is necessary to assist
                us.</p>

            <h2>Important Exceptions.</h2>

            <p>We may disclose your Personal Information to third parties without your consent if we have reason to
                believe that disclosing this information is necessary to identify, contact or bring legal action against
                someone who may be causing injury to or interference with (either intentionally or unintentionally) our
                rights or property, other users of the Services, or anyone else (including the rights or property of
                anyone else) that could be harmed by such activities.  We may disclose Personal Information when we
                believe in good faith that such disclosure is required by and in accordance with the law.</p>

            <p>We may also disclose your Personal Information in connection with a corporate re-organization, a merger
                or amalgamation with another entity, a sale of all or a substantial portion of our assets or stock,
                including any due diligence exercise carried out in relation to the same, provided that the information
                disclosed continues to be used for the purposes permitted by this Privacy Policy by the entity acquiring
                the information.</p>

            <h2>Security.</h2>

            <p>The security of your Personal Information is important to us.  We use commercially reasonable efforts to
                store and maintain your Personal Information in a secure environment.  We take technical, contractual,
                administrative, and physical security steps designed to protect Personal Information that you provide to
                us.  We have implemented procedures designed to limit the dissemination of your Personal Information to
                only such designated staff as are reasonably necessary to carry out the stated purposes we have
                communicated to you.</p>

            <p>You are also responsible for helping to protect the security of your Personal Information.  For instance,
                never give out your password, and safeguard your user name, password and personal credentials when you
                are using the Services, so that other people will not have access to your Personal Information.
                 Furthermore, you are responsible for maintaining the security of any personal computing device on which
                you utilize the Services.</p>

            <h2>Sharing Information with Third Parties.</h2>

            <p>You may be able to share Personal Information with third parties through use of the Services.  The
                privacy policies of these third parties are not under our control and may differ from ours.  The use of
                any information that you may provide to any third parties will be governed by the privacy policy of such
                third party or by your independent agreement with such third party, as the case may be.  If you have any
                doubts about the privacy of the information you are providing to a third party, we recommend that you
                contact that third party directly for more information or to review its privacy policy.</p>

            <h2>Retention.</h2>

            <p>We will keep your Personal Information for as long as it remains necessary for the identified purpose or
                as required by law, which may extend beyond the termination of our relationship with you.  We may retain
                certain data as necessary to prevent fraud or future abuse, or for legitimate business purposes, such as
                analysis of aggregated, non-personally-identifiable data, or account recovery.  All retained Personal
                Information will remain subject to the terms of this Privacy Policy.  Please note that if you request
                that your Personal Information be removed from our databases, it may not be possible to completely
                delete all of your Personal Information due to technological or legal constraints.</p>

            <h2>Amendment of this Privacy Policy.</h2>

            <p>We reserve the right to change this Privacy Policy at any time.  If we decide to change this Privacy
                Policy in the future, we will post or provide appropriate notice.  Any non-material change (such as
                clarifications) to this Privacy Policy will become effective on the date the change is posted, and any
                material changes will become effective 30 days from their posting on http://tourneysports.co/privacy or
                via email to your listed email address. Unless stated otherwise, our current Privacy Policy applies to
                all Personal Information that we have about you and your account.  The date on which the latest update
                was made is indicated at the bottom of this document.  We recommend that you print a copy of this
                Privacy Policy for your reference and revisit this policy from time to time to ensure you are aware of
                any changes.  Your continued use of the Services signifies your acceptance of any changes.</p>

            <h2>Access and Accuracy.</h2>

            <p>You have the right to access the Personal Information we hold about you in order to verify the Personal
                Information we have collected in respect to you and to have a general account of our uses of that
                information.  Upon receipt of your written request, we will provide you with a copy of your Personal
                Information, although in certain limited circumstances we may not be able to make all relevant
                information available to you, such as where that information also pertains to another user.  In such
                circumstances we will provide reasons for the denial to you upon request.  We will endeavor to deal with
                all requests for access and modifications in a timely manner.</p>

            <p>We will make every reasonable effort to keep your Personal Information accurate and up-to-date, and we
                will provide you with mechanisms to update, correct, delete or add to your Personal Information as
                appropriate.  This amended Personal Information will be transmitted to those parties to which we are
                permitted to disclose your information, as appropriate.  Having accurate Personal Information about you
                enables us to give you the best possible service.</p>

            <p>Under California Civil Code Sections 1798.83-1798.84, California residents are entitled to ask us for a
                notice identifying the categories of Personal Information which we share with our affiliates and/or
                third parties for marketing purposes, and providing contact information for such affiliates and/or third
                parties.  If you are a California resident and would like a copy of this notice, please submit a written
                request to: info@tourneysports.co.</p>

            <h2>Contact Us.</h2>

            <p>You can help by keeping us informed of any changes such as a change of email address or telephone number.
                 If you would like to access your information, if you have any questions, comments or suggestions of if
                you find any errors in our information about you, please contact us at:</p>

            <p>Tourney Sports, Inc.<br/>
                24 Delmar St.<br/>
                San Francisco, CA 94117<br/>
                info@tourneysports.co</p>

            <p>If you have a complaint concerning our compliance with applicable privacy laws, we will investigate your
                complaint and if it is justified, we will take appropriate measures.</p>

            <p>Last Updated:  April 22nd, 2018</p>

        </div>
    </div>
</div>
