body {
    padding: 50px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #9B9B9B;
}

a {
    color: #00B7FF;
}

img {
    width: 100%;
}

table, tr, td, th {
    border: 1px solid #9B9B9B;
}

/* set a max-width for horizontal fluid layout and make it centered */
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    max-width: 1200px;
}

.main {
    padding-top: 60px;
}

.logo {
    padding-top: 80px;
}

.content .description {
    margin-bottom: 30px;
    margin-top: 30px;
}

.app-links img {
    width: auto;
    margin: 10px;
}

footer ul {
    list-style: none;
    margin: 0 auto;
}

footer ul li {
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: bold;
    margin: 10px;
}

footer ul li a {
    text-decoration: none;
    color: #9B9B9B;
}

footer ul li a:hover {
    text-decoration: none;
    color: #00B7FF;
}
